@model IEnumerable<PTLab2_Final.Models.Electronic>
 
<h2>Список товаров</h2>
<p><a asp-action="Create">
        <input type="submit" value="Добавить новый товар" />
</a></p>
<table class="table">
    <tr><th>Имя</th><th>Категория</th><th>Цена</th><th>Всего</th><th>Продано</th><th>Счетчик</th><th>Изменить</th><th>Удалить</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-action="Click" asp-controller="Home" asp-route-id="@item.Id">@item.Name</a></td>
            <td>@item.Category</td>
            <td>@item.Price</td>
            <td>@item.ForSale</td>
            <td>@item.Sold</td>
            <td>@item.Counter</td>
                <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">
                    <input type="submit" value="Изменить" />
                </a>
                </td>
                <td>
                    <form asp-controller="Home" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
        </tr>
    }
</table>